<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Trainer Dashboard</title>
</head>

<h1>Trainer Dashboard</h1>
<p>Welcome, {{ user.get_full_name }}</p>
<p>Your role is: {{ user.role|capfirst }}</p>

<table border="1" cellpadding="6">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for module in modules %}
            <tr>
                <td colspan="2"><strong>{{ module.title }}</strong><br>{{ module.description }}</td>
            </tr>

            {% for feedback in module.feedback_set.all %}
                <tr>
                    <td><strong>{{ feedback.user.user.get_full_name }}</strong></td>
                    <td>
                        Rating: {{ feedback.rating }}<br>
                        Comment: {{ feedback.comment }}<br>
                        {% if not feedback.feedbackresponse %}
                            <a href="{% url 'respond_to_feedback' feedback.id %}">Respond</a>
                        {% else %}
                            ✅ Response submitted
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No feedback yet.</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>

</table>

<p><a href="{% url 'create_training_module' %}">+ Create New Module</a></p>

</html>